{{template "header.html" .}}
<body>
    <div class="container">


        <h1>Activity Page</h1>
        <h1>{{.username}}</h1>
        <h1>{{.userid}}</h1>
        <h2>Stores page</h2>





	<h3>update acount information </h3>

        <img src="/fs/{{.Photos}}" >
        <form action="/upacount" method=post><br><br>
            <input type="name" name=name value={{.username}}><br><br>
            <input type="email" name=email value={{.email}}><br><br>
            <input type="phon" name=phon value={{.phon}}><br><br>
            <!--<input type="file" name=files value={{.linkavatar}}>-->
            <input type="submit">
        </form>

    </div>
</body>
</html>
